/* pickaday */
@charset "UTF-8";
/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  width: 240px;
  padding: 8px;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pika-single.is-hidden {
  display: none;
}
.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.pika-title {
  position: relative;
  text-align: center;
}
.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
}
.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  opacity: 0;
}
.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  opacity: .5;
  *position: absolute;
  *top: 0;
}
.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}
.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
  *left: 0;
}
.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
  *right: 0;
}
.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}
.pika-select {
  display: inline-block;
  *display: inline;
}
.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
}
.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}
.pika-button {
  cursor: pointer;
  display: block;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}
.is-today .pika-button {
  color: #33aaff;
  font-weight: bold;
}
.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}
.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}
.pika-button:hover {
  color: #fff !important;
  background: #ff8000 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}
/* variable */
.sw-fixed {
  position: fixed !important;
}
.sw-padding-top1 {
  padding-top: 3px !important;
}
.sw-base,
.sw-base * {
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: normal !important;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  font-size: 12px;
  vertical-align: middle;
  padding: 0px;
}
.sw-box {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
 
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
 
  box-sizing: border-box;
}
.sw-border-none {
  border: 1px solid transparent !important;
}
.sw-border-none:hover,
.sw-border-none:active,
.sw-border-none:focus {
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
}
.sw-border-error {
  border: 1px solid #ee5f5b !important;
}
.sw-border1 {
  border: 1px solid #999999;
}
.sw-border-right1 {
  border-right: 1px solid #999999;
}
.sw-border2 {
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
}
.sw-content {
  background-color: transparent;
}
.sw-padding1 {
  padding: 2px;
}
.sw-padding2 {
  padding: 2px 6px;
}
.sw-gradient1 {
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-gradient2 {
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-gradient3 {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-gradient4 {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-gradient5 {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-gradient6 {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-gradient7 {
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sw-box-shadow1 {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.sw-radius {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
 
  -webkit-border-radius: 3px;
  /* Firefox 1-3.6 */
 
  -moz-border-radius: 3px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
 
  border-radius: 3px;
}
.sw-font1 {
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: normal !important;
}
.sw-color1 {
  color: #333333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}
.sw-color2 {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.sw-font-size1 {
  font-size: 12px;
}
.sw-inline-block {
  display: inline-block;
}
.sw-hover1:hover,
.sw-hover1:focus,
.sw-hover1:active,
.sw-hover1.active,
.sw-hover1.disabled,
.sw-hover1[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.sw-hover1:active,
.sw-hover1.active {
  background-color: #cccccc;
}
.sw-hover1:hover,
.sw-hover1:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.sw-hover1:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sw-hover1.active,
.sw-hover1:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.sw-hover1.disabled,
.sw-hover1[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sw-hover2.active,
.sw-hover3.active,
.sw-hover4.active,
.sw-hover5.active,
.sw-hover6.active,
.sw-hover7.active {
  color: rgba(255, 255, 255, 0.75);
}
.sw-hover2:hover,
.sw-hover2:focus,
.sw-hover2:active,
.sw-hover2.active,
.sw-hover2.disabled,
.sw-hover2[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.sw-hover2:active,
.sw-hover2.active {
  background-color: #003399 \9;
}
.sw-hover3:hover,
.sw-hover3:focus,
.sw-hover3:active,
.sw-hover3.active,
.sw-hover3.disabled,
.sw-hover3[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.sw-hover3:active,
.sw-hover3.active {
  background-color: #c67605 \9;
}
.sw-hover4:hover,
.sw-hover4:focus,
.sw-hover4:active,
.sw-hover4.active,
.sw-hover4.disabled,
.sw-hover4[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.sw-hover4:active,
.sw-hover4.active {
  background-color: #942a25 \9;
}
.sw-hover5:hover,
.sw-hover5:focus,
.sw-hover5:active,
.sw-hover5.active,
.sw-hover5.disabled,
.sw-hover5[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.sw-hover5:active,
.sw-hover5.active {
  background-color: #408140 \9;
}
.sw-hover6:hover,
.sw-hover6:focus,
.sw-hover6:active,
.sw-hover6.active,
.sw-hover6.disabled,
.sw-hover6[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.sw-hover6:active,
.sw-hover6.active {
  background-color: #24748c \9;
}
.sw-hover7:hover,
.sw-hover7:focus,
.sw-hover7:active,
.sw-hover7.active,
.sw-hover7.disabled,
.sw-hover7[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.sw-hover7:active,
.sw-hover7.active {
  background-color: #080808 \9;
}
.sw-pointer {
  cursor: pointer;
}
.sw-col-resize {
  cursor: col-resize;
}
.sw-no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sw-float-left {
  float: left;
}
.sw-float-right {
  float: right;
}
.sw-overflow-hidden {
  overflow: hidden;
}
.sw-overflow-auto {
  overflow: auto;
}
.sw-overflow-y {
  overflow-x: hidden;
  overflow-y: auto;
}
.sw-overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.sw-background1{
	background: #ffffff;
}

.sw-top-right{
	top: 0px;
	right: 0px;
	position: absolute;
}

.sw-no-padding{
	padding: 0px !important;
}

.sw-no-margin{
	margin: 0px !important;
}

.sw-minimize{
	bottom: 0px !important;
	left: 0px !important;
	height: 23px !important;
}
/***** specific widget *****/
.sw-minimize .sw-window-content{
	display: none;
}
.sw-toolbar > .sw-base,
.sw-form-button > .sw-base {
  margin-left: 2px;
  margin-right: 2px;
}
.sw-table table {
  table-layout: fixed;
  border-collapse: collapse;
}
.sw-table tr,
.sw-table td {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
 
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
 
  box-sizing: border-box;
}
.sw-table .sw-table-body tbody td {
  border-bottom: 1px solid #cccccc;
  /*white-space: nowrap;*/
  vertical-align: baseline;
  overflow: hidden;
}
.sw-table .sw-table-header td {
  border-bottom: 1px solid #cccccc;
  /*white-space: nowrap;*/
  vertical-align: top;
  overflow: hidden;
}
.sw-table .sw-table-body tbody tr:nth-last-child(1) td {
  border-bottom: 0px;
}
.sw-button a {
  text-decoration: none;
  color: inherit;
}

.sw-window-button span{
	margin: 0px;
}

.sw-padding2{
	padding: 2px !important;
}